- var link = "https://github.com/pugjs/pug"

section.myclass(data-id="123"): .b-info:  p.e-description Este proyecto era conocida anteriormente como "Jade". Sin embargo, se ha revelado que "Jade" es una marca registrada, y como resultado, se necesita un cambio de nombre. Tras un breve debate entre los mantenedores, "Pug" ha sido elegido como el nuevo nombre para este proyecto. La pr칩xima versi칩n principal llevar치 a "pug", como el nombre del paquete. La documentaci칩n completa se encuentra en:&nbsp;
  a(href='' + link target="_blank") https://github.com/pugjs/pug
