doctype html
html
  head
    link(rel="stylesheet" href="../src/css/style.css")
    meta(charset="UTF-8")
  body
    head
      p head
    h1 holafgfbcbcvvxcv
    div dflkgjclvkhjmdvfjihxf dfdsfdsfcbcv xcbvcv
    div fghdfhd
    p ewr
    h2 wrffytyV
