doctype html
html
  head
    link(rel="stylesheet" href="./../../frontend/css/style.css")
    meta(charset="UTF-8")
  body
    include ./header.pug
    include ./description.pug
    include ./grilla.pug
    include ./footer.pug
